div{
	font-family: sans-serif;
}

#top{
	width:100%;
	position: fixed;
	top: 1em;
}

#bottom{
	position: absolute;
	bottom: 1;
	width: 100%;
	background-color: rgb(240,240,240);
	border-top: 1px solid rgb(230,230,230);
	height: 40px;
	vertical-align: middle;
}

.t_right{
	float: right;
	right: 1%;
	position: relative;
	display:inline-block;
	vertical-align:top;

}

.b_right{
	float: right;
	right: 1%;
	position: relative;
	top: 0.75em;
	word-spacing: 1em;
}

.b_left{
	float: left;
	left: 1%;
	position: relative;
	top: 0.75em;
	word-spacing: 1em;

}

.content{
	position: absolute;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#search{
	border: 1px solid #4486F9;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 43em;
	margin-bottom: 1em;
}

.buttons{
	display: inline-block;
	background-color: rgb(240,240,240);
	border: 1px solid rgb(220,220,220);
	padding: 0.5em;
	font-weight: bold;
	font-size: 0.6em;
	color: rgb(100,100,100);
	margin: 0.5em;
}

#bdiv{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

a {
	text-decoration: none;
	font-size: 12px;
	color: rgb(100,100,100);
	padding: 0.5em;
}

a:hover {
	text-decoration: underline;
}

#logo {
	height: 6em;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}

#sign_in{
	background: #4486F9;
	padding: 0.8em 1em 0.8em 1em;
	color: white;
	font-weight: bold;
	display: inline-block;
	cursor:default;
}


#apps{
	width: 16px;
	height: 16px;
	background: url("apps.png");
	display:inline-block;
	vertical-align: text-bottom;
	cursor:default;
}
#apps:hover{
	width: 16px;
	height: 16px;
	background: url("apps-hover.png");
	display:inline-block;
	text-decoration: none;
	vertical-align: text-bottom;
	cursor:default;
}